<?xml version="1.0"?>
<model>
  <name>multi_iris_visual_payload</name>
  <version>1.0</version>
  <sdf version='1.6'>multi_iris_visual_payload.sdf</sdf>

  <author>
   <name></name>
   <email></email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
